@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Initial design */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Kanit;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

li {
  padding: 1rem;
  list-style: none;
}

:root {
  --primary-mocca-muda: #df4e15;
  --primary-mocca-semi-muda: #9d4d2d;
  --primary-mocca: #f38f4d;
}

.red{
  color: rgb(115, 1, 1);
}

.mocca-muda {
  color: var(--primary-mocca-muda);
}

.mocca {
  color: var(--primary-mocca);
}

.mocca-semi-muda{
  color: var(--primary-mocca-semi-muda);
}

.outline {
  background-color: transparent !important;
}

button {
  background-image: linear-gradient(
    to right,
    var(--primary-mocca-semi-muda),
    var(--primary-mocca-muda)
  );
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
}

button:hover {
  /* color: rgb(49, 43, 43); */
  background-image: linear-gradient(
    to right,
    var(--primary-mocca-muda),
    var(--primary-mocca-semi-muda)
  );
}

/* Navbar */
.navbar {
  width: 100%;
  height: 90px;
  background-color: #4e4946;
  /* position: fixed; */
}

.navbar .navbar-section {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .navbar-section .logo {
  color: #d1c6c1;
  text-decoration: none;
}

.navbar .navbar-section .logo:hover {
  color: rgb(49, 43, 43);
}

@media (min-width: 768px) {
  .navbar .navbar-section .navbar-feature {
    display: flex;
  }
}

.navbar .navbar-section .navbar-feature .navbar-items {
  display: flex;
  color: white;
  align-items: center;
}

/* Navbar for mobile */
.navbar .navbar-section .navbar-burger {
  display: block;
  @media (min-width: 768px) {
    .md\:hidden {
      display: none;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: left 0.5s ease;
  left: -100%;
}

.text-2xl {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

.text-decor-hidden {
  text-decoration: none;
  color: white;
  font-size: large;
}

.text-decor-hidden:hover {
  color: rgb(49, 43, 43);
}

.btn-order:hover {
  color: rgb(49, 43, 43);
}

/* Hero Section */
.hero-section-page {
  width: 100%;
  height: 90vh;
  top: 90vh;
}

.hero-section-page .hero-section-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.hero-section-page .hero-section-field {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.hero-section-page .hero-section-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero-section-page .hero-section-story {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

/* Order Section */
.order-section-page {
  width: 100%;
  background-color: #131313;
  color: white;
  text-align: center;
}

.order-section-page .order-section-field {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.order-section-page .order-section-field .order-section-card-container {
  display: grid;
  gap: 1rem;
}

@media (min-width: 640px) {
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.order-section-card {
  display: flex;
  flex-direction: column;
  border: #00d8ff;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  text-align: left;
  margin-top: 18px;
  border-radius: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #7e826e;
}

.order-section-card-image {
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 1rem;
  height: 9rem;
  width: 14rem;
}

.order-section-card-h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
}

.order-section-card-button {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
}

.space-x-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(4rem * var(--tw-space-x-reverse));
  margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
}

/* About Section */
.about-section-page {
  width: 100%;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  background-color: black;
}

.about-section-page .about-section-page-container {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 768px) {
  .md\:flex {
    display: flex;
  }
}

.about-section-page-image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-section-page-image-container .about-section-page-image {
  max-width: 300px;
  border-radius: 5rem;
  --tw-shadow: 0 10px 30px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: rgb(6 182 212 / 0.5);
  --tw-shadow: var(--tw-shadow-colored);
}

.about-section-page-button {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 30px;
}

.btn-read-more {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 17px;
  padding: 1em 2em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: var(--primary-mocca-muda);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}

/* Register Section */
.regist-section-page {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: black;
  color: white;
  text-align: center;
}

.regist-section-page .regist-section-page-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.regist-section-page .regist-section-page-container .regist-section-page-input {
  padding: 0.75rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
}

/* Comment Section */
.card-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 4rem;
  padding-bottom: 4rem;
  justify-content: space-between;
  margin: 20 auto;
  /* max-width: 1200px; */
  width: 100%;
  background-color: black
}

@media (min-width: 640px) {
  .card-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.card-container .card img{
  width: 300px;
  height: 300px;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  box-shadow: 0px 0px 20px rgba(244, 244, 244, 0.2);
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  flex: 0 0 300px;
  margin-right: 20px;
  margin-left: 20px;
  color: white;
}

.card:hover {
  transform: translateY(-10px);
}

.card-header {
  height: 250px;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.card-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-mocca-muda)
}

.card-body {
  padding: 20px;
}

.comments {
  margin-bottom: 20px;
}

.comment {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
}

.rating {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.star {
  color: #ffd700;
  margin-right: 5px;
}

/* Footer Section */
.footer-section-page {
  background-color: #4e4946;
}

.footer-section-page .footer-section-page-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .footer-section-page .footer-section-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-section-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-size: medium;
}

@media (min-width: 640px) {
  .footer-section-text {
    text-align: center;
  }

  .footer-section-icon {
    justify-content: center;
    margin-top: 0;
  }
}

.footer-section-icon {
  display: flex;
  margin-top: 1rem;
}

.footer-section-link {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.footer-section-link:hover {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.footer-section-svg-size {
  width: 2rem;
  height: 2rem;
}

.footer-section-svg {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(3rem * var(--tw-space-x-reverse));
  margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)));
}