@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Initial design */
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: Kanit;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

li {
  padding: 1rem;
  list-style: none;
}

button {
  background-image: linear-gradient(
    to right,
    var(--primary-purple),
    var(--primary-blue)
  );
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  border-radius: 3rem;
  border: none;
}

:root {
  --primary-blue: #00d8ff;
  --primary-purple: #6a00ff;
}

.blue {
  color: var(--primary-blue);
}

.outline {
  background-color: transparent !important;
}

/* Navbar */
.navbar {
  width: 100%;
  height: 90px;
  background-color: #4e4946;
}

.navbar .navbar-section {
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .navbar-section .logo {
  color: black;
  text-decoration: none;
}

.navbar .navbar-section .logo:hover {
  color: rgb(49, 43, 43);
}

/* .navbar .navbar-section .navbar-feature {
  display: none;
} */
@media (min-width: 768px) {
  .md\:.navbar .navbar-section .navbar-feature {
    display: flex;
  }
}

.navbar .navbar-section .navbar-feature .navbar-items {
  display: flex;
  color: white;
  align-items: center;
}

/* Navbar for mobile */
.navbar .navbar-section .navbar-burger {
  display: block;
  @media (min-width: 768px) {
    .md\:hidden {
      display: none;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: left 0.5s ease;
  left: -100%;
}

.text-2xl {
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
}

.text-decor-hidden {
  text-decoration: none;
  color: white;
  font-size: large;
}

.text-decor-hidden:hover {
  color: rgb(49, 43, 43);
}

.btn-order {
  margin-left: 15px;
  cursor: pointer;
  color: white;
}

.btn-order:hover {
  color: rgb(49, 43, 43);
}

/* Hero Section */
.hero-section-page {
  width: 100%;
  height: 90vh;
  top: 90vh;
}

.hero-section-page .hero-section-video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -10;
}

.hero-section-page .hero-section-field {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.hero-section-page .hero-section-text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.hero-section-page .hero-section-story {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

